{% with activity_data = get_activity_data(request) %}
  {% if activity_data %}

    <li class="dropdown">

      <a id="nav-notification-menu" role="button" data-toggle="dropdown" data-target="#" href="{{ view_all_link }}">
        <i class="fa fa-bell"></i>
        {% if activity_data.unread_count %}
            <span id="notification-menu-count" class="badge">{{ activity_data.unread_count }}</span>
        {% endif %}
      </a>

      <ul class="dropdown-menu notifications" role="menu">

        {% if activity_data.notifications %}
          {% for notification in activity_data.notifications %}
            {{ notification|safe }}
          {% endfor %}

          <li class="divider"></li>
        {% else %}
          <li id="notification-menu-empty" class="disabled">
            <a href="#">No new notifications</a>
          </li>
        {% endif %}

        <li>
          <a id="nav-notification-menu-view-history" href="{{ activity_data.view_all_link }}"><i class="fa fa-backward"></i> View history</a>
        </li>
      </ul>

    </li>

  {% endif %}
{% endwith %}