<a class="list-group-item notification-full-{{ activity.activity_type }} {% if activity.seen_at %}notification-seen{% else %}notification-unseen{% endif %}" href="{{ link }}">
  <h3 {% if not activity.seen_at %}class="text-success"{% endif %}>
    {% if not activity.seen_at %}
      <span class="text-success">·</span>
    {% endif %}
    {{ title }}
  </h3>

  <div>
    {{ html_body|safe }}
  </div>

  <p>
    <small class="text-muted">{{ activity.created_at|friendly_time(source_timezone="UTC") }} · {{ activity.created_at|datetime(show_timezone=True, source_timezone="UTC") }}</small>
  </p>
</a>
